input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.infoCard  {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 30px auto 0;
}

.inputNumberCard,
.inputCardOwner {
  width: 80%;
}

.inputCardExpiry,
.inputCvv {
  width: 40%;
  margin-left: 10px;
}

.label {
  margin: 0 0 5px;
  padding-right: 5px;
  font-weight: 500;
  color: #444;
}

.wrapShowError {
  overflow: hidden;
  height: 24px;
}

.showError {
  color: rgb(255, 0, 0);
  display: inline-block;
  transition: all 0.5s ease-in-out;
  transform: translateY(0);

  animation: showEnterName 5s;
  animation-iteration-count: 1;
}

@keyframes showEnterName {
  0% {transform: translateY(-40px);}
  20% {transform: translateY(0);}
  90% {transform: translateY(0);}
  100% {transform: translateY(-40px);}
}

.infoCard .inputError {
  border: 1px solid red;
  transition: .5s;
}

.payment {
  border-top: 1px dashed #3333333d;
  margin-top: 30px;
}

.paymentWrap {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.paymentCheckbox {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.labelCheckbox {
  margin: 0 0 4px 5px;
  padding-right: 5px;
}

.btn-danger.buttonIsDisabled {
  pointer-events: none;
  background-color: #985151;
  border-color: #985151;
}

.payment .btn {
  width: 70%;
  margin: 20px auto 10px;
}

.timer {
  margin: 0 auto;
}

@keyframes showSuccessfulPayment {
  from {right: -450px;}
  to {right: -160px}
}

.successfulPaymentPopup {
  display: flex;
}

.successfulPayment {
  border: 1px solid #333;
  padding: 5px 10px;
  background: #fff;
  border-radius: .5rem;
  position: absolute;
  right: -160px;
  bottom: 20px;
  font-size: 20px;

  animation: showSuccessfulPayment 1s ;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.successfulPayment--text {
  text-align: center;
  padding-right: 10px;
  margin: 0;
}

.successfulIcon {
  width: 40px;
}